/* 
Colors
  Codeup-Green-primary: 76a54a
  Codeup-Green-secondary: 4d5e32
  Learn-more-btn: fec315
  blue-bg: 171c32
  schedule-a-call: ea583f
  grey-bg: d7e1e1
  red-underscore: ef634a
  grey-bg-partners: d8e4e3
  blue-btn-onbottom: 181d31
*/

/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Page Content */ 

